
<div class="sign-in">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email' %>
  </div>

  <div class="field">
    <%= f.text_field :first_name, autocomplete: "firts_name", placeholder: 'Имя' %>
  </div>
  <div class="field">
    <%= f.text_field :last_name, autocomplete: "last_name", placeholder: 'Фамилия' %>
  </div>
  <div class="field">
    <%= f.text_field :phone, autocomplete: "phone", placeholder: 'Номер телефона' %>
  </div>

  <div class="field">
    <%= f.password_field :password, autocomplete: "new-password", placeholder: 'Пароль, минимум ' + @minimum_password_length.to_s + ' символов' %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: 'Повторите пароль' %>
  </div>

  <div class="actions">
    <%= f.submit "Зарегистрироваться", class: 'btn-auth' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
